server:
  port: 8080
  servlet:
    context-path: /my-class-mate

spring:
  application:
    name: my-class-mate-be

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=myclassmate
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 40MB

  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  cors:
    allowed-origins: http://localhost:3000

  fast-api:
    url: http://localhost:8000/my-class-mate

  scheduler:
    cron: "0 0 23 * * *" # default at 23:00
    #cron: "0 15 15 * * *" # for test at 15:15